<section class="section has-background-primary bg-canyon has-text-white" id="contact-us">
    <div class="container is-constrained-1024 is-padded">
        <div class="columns">
            <div class="column">
                <div class="msg"></div>
            </div>
        </div>
        <h1 class="title is-3">Stay in touch</h1>
        <div class="columns">
            <div class="column is-two-thirds">
                <form id="contact-form">
                    <div class="field">
                        <label class="label">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" id="name" placeholder="Your name!">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" name="email" id="email" placeholder="Your email!">
                            <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Message</label>
                        <div class="control">
                            <textarea class="textarea" name="message" id="message" placeholder="What can we do for you?"></textarea>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <input type="button" id="contact-submit" class="button is-warning" value="Say Hello!">
                        </div>
                    </div>
                </form>
            </div>

            <div class="column">
                <ul>
                    <li><i class="fas fa-lg fa-fw fa-map-marker"></i>&nbsp;&nbsp;Central Pennsylvania</li>
                    <li>&nbsp;</li>
                    <li><a class="has-text-white" href="mailto:hello@shakennotstirred.photos" target="_blank"><i
                            class="fas fa-lg fa-fw fa-envelope"></i>&nbsp;&nbsp;hello@shakennotstirred.photos</a></li>
                </ul>

                <!--<br><br>-->

                <hr>
                <p><span class="has-text-weight-bold">Follow us on</span>
                    <a class="has-text-white" href="//www.instagram.com/shakennotstirredphoto/" target="_blank"><i
                            class="fab fa-lg fa-fw fa-instagram"></i></a>
                    <a class="has-text-white" href="//fb.me/shakennotstiredphoto/" target="_blank"><i
                            class="fab fa-lg fa-fw fa-facebook"></i></a>
                    <a class="has-text-white" href="//m.me/shakennotstiredphoto/" target="_blank"><i
                            class="fab fa-lg fa-fw fa-facebook-messenger"></i></a>
                    <a class="has-text-white" href="mailto:hello@shakennotstirred.photos" target="_blank"><i
                            class="fas fa-lg fa-fw fa-envelope"></i></a>
                </p>
            </div>
            </form>
        </div>
    </div>
</section>