{% extends "layout.html" %}

{% block content %}
<section class="hero is-grey-darker is-fullheight-with-navbar">
    <div class="hero-head"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <img src="/images/landing/logo-lg.png"
                 srcset="/images/landing/logo-lg.png 412w, /images/landing/logo-md.png 250w, /images/landing/logo-lg.png 175w"
                 sizes="(min-width: 798px) 412px,
                        (min-width: 678px) 250px,
                        175px"
                 alt="logo">
        </div>
    </div>
    <div class="hero-foot has-text-centered">
        <a class=" has-text-white" href="#first"><i
                class="fa fa-angle-double-down fa-3x bounce"></i></a><br><br><br><br>
    </div>
</section>

<span id="first" class="first"></span>

{% include 'partials/navbar.html' %}


<section class="section has-background-primary" id="call-to-action-banner">
    <div class="container has-text-centered is-padded">
        <p class="title is-size-2 has-text-white">Come to our free Head Shot event</p>
        <button class="button is-warning is-large" id="call-to-action">Join the mailing list!</button>
    </div>
</section>


<section class="section">
    <div class="container has-text-centered is-constrained-1024 is-padded">
        <div class="columns">
            <div class="column"><h1 class="title has-text-weight-normal">Here at Shaken Not Stirred Photography <br>we
                are <span class="is-uppercase has-text-weight-bold is-italic">dedicated</span> to capturing those
                moments you care most about.</h1></div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="stroke"></div>
            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-300x300">
                            <img src="/images/team/bobby-400.jpg" alt="Bobby Klein Profile Picture">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-centered">Bobby Klein</p>
                                <p class="subtitle is-6 has-text-centered"><a href="//www.instagram.com/bobbyvklein/"
                                                                              target="_blank">@bobbyvklein</a></p>
                            </div>
                        </div>

                        <div class="content">
                            <a target="_blank" href="//www.instagram.com/bobbyvklein/"><i
                                    class="fab fa-fw fa-lg fa-instagram"></i></a>
                            <a target="_blank" href="//bobbyvklein.com"><i class="fab fa-fw fa-lg fa-chrome"></i></a>
                            <a target="_blank" href="mailto:bobby@shakennotstirred.photos"><i
                                    class="fas fa-fw fa-lg fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-300x300">
                            <img src="/images/team/austin-400.jpg" alt="Austin Barrett Profile Picture">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-centered">Austin Barrett</p>
                                <p class="subtitle is-6 has-text-centered"><a href="//www.instagram.com/stripedpurple/"
                                                                              target="_blank">@stripedpurple</a></p>
                            </div>
                        </div>

                        <div class="content">
                            <a target="_blank" href="//www.instagram.com/stripedpurple/"><i
                                    class="fab fa-fw fa-lg fa-instagram"></i></a>
                            <a target="_blank" href="//stripedpurple.io"><i class="fab fa-fw fa-lg fa-chrome"></i></a>
                            <a target="_blank" href="mailto:austin@shakennotstirred.photos"><i
                                    class="fas fa-fw fa-lg fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">

                <div class="card has-text-centered">
                    <div class="card-image">
                        <figure class="image is-300x300">
                            <img src="/images/team/kelly-400.jpg" alt='Kelly "Kanami" Lam Profile Picture'>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-centered">Kelly "Kanami" Lam</p>
                                <p class="subtitle is-6 has-text-centered"><a href="//www.instagram.com/simplykanami/"
                                                                              target="_blank">@simplykanami</a></p>
                            </div>
                        </div>

                        <div class="content">
                            <a target="_blank" href="//www.instagram.com/simplykanami/"><i
                                    class="fab fa-fw fa-lg fa-instagram"></i></a>
                            <a target="_blank" href="//www.simplykanami.com"><i
                                    class="fab fa-fw fa-lg fa-chrome"></i></a>
                            <a target="_blank" href="mailto:kelly@shakennotstirred.photos"><i
                                    class="fas fa-fw fa-lg fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block navbar %}{% endblock %}



{% block css %}
{{ super() }}
<style>
    .hero {
        background: #222 url("/images/landing/hero.jpg") center center no-repeat fixed;
        background-size: cover;
    }

    @media screen and (min-width: 768px) {
        .card:hover img {
            filter: none;
        }

        .card img {
            filter: grayscale(1);
            transition: all 0.3s ease-in-out;
        }
    }

    .stroke {
        width: 4rem;
        border-bottom: 3px solid #333333;
        margin: 2rem auto;
    }
</style>
{% endblock %}

{% block js %}
{{ super() }}
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js"
        data-dojo-config="usePlainJson: true, isDebug: false"></script>

<script>
    function showMailingPopUp() {
        require(["mojo/signup-forms/Loader"], function (L) {
            L.start({
                "baseUrl": "mc.us20.list-manage.com",
                "uuid": "291e8cc28afc80cf02211401a",
                "lid": "cf7584a3e3"
            })
        });
        document.cookie = "MCPopupClosed=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC";
        document.cookie = "MCPopupSubscribed=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC";
        document.cookie = "_AVESTA_ENVIRONMENT`=; path=/; expires=Thu, 01 Jan 1970 00:00:00 UTC";
    };

    document.getElementById("call-to-action").onclick = function () {
        showMailingPopUp()
    };

    showMailingPopUp();
</script>
{% endblock %}



