{% extends "layout.html" %}

{% block content %}
<section class="hero is-grey-darker is-fullheight">
    <div class="hero-head"></div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <img src="/images/landing/logo-lg.png" srcset="/images/landing/logo-lg.png 412w, /images/landing/logo-md.png 250w, /images/landing/logo-lg.png 175w"
                 sizes="(min-width: 798px) 412px,
                        (min-width: 678px) 250px,
                        175px"
                 alt="logo">
        </div>
    </div>
    <div class="hero-foot"></div>
</section>


<section class="section has-background-primary">
    <div class="container has-text-centered is-padded">
        <p class="title is-size-2 has-text-white">Come to our free Head Shot event</p>
        <a class="button is-warning is-large" href="http://eepurl.com/gdZF2P" target="_blank">Join the mailing list!</a>
    </div>
</section>


<section class="section">
    <div class="container has-text-centered is-constrained-1024 is-padded">
        <div class="columns">
            <div class="column"><h1 class="title has-text-weight-normal">Here at Shaken Not Stirred Photography <br>we are <span class="is-uppercase has-text-weight-bold is-italic">dedicated</span> to capturing those moments you care most about.</h1></div>
        </div>

        <div class="columns">
            <div class="column">
                <div class="stroke"></div>
            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-300x300">
                            <img src="/images/team/bobbyvklein.jpg" alt="Bobby Klein Profile Picture">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-centered">Bobby Klein</p>
                                <p class="subtitle is-6 has-text-centered">@bobbyvklein</p>
                            </div>
                        </div>

                        <div class="content">
                            <a target="_blank" href="//www.instagram.com/bobbyvklein/"><i class="fab fa-fw fa-lg fa-instagram"></i></a>
                            <a target="_blank" href="//bobbyvklein.com"><i class="fab fa-fw fa-lg fa-chrome"></i></a>
                            <a target="_blank" href="mailto:bobby@shakennotstirred.photos"><i class="fas fa-fw fa-lg fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">

                <div class="card">
                    <div class="card-image">
                        <figure class="image is-300x300">
                            <img src="/images/team/stripedpurple.jpg" alt="Austin Barrett Profile Picture">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-centered">Austin Barrett</p>
                                <p class="subtitle is-6 has-text-centered">@stripedpurple</p>
                            </div>
                        </div>

                        <div class="content">
                            <a target="_blank" href="//www.instagram.com/stripedpurple/"><i class="fab fa-fw fa-lg fa-instagram"></i></a>
                            <a target="_blank" href="//stripedpurple.io"><i class="fab fa-fw fa-lg fa-chrome"></i></a>
                            <a target="_blank" href="mailto:austin@shakennotstirred.photos"><i class="fas fa-fw fa-lg fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="column">

                <div class="card has-text-centered">
                    <div class="card-image">
                        <figure class="image is-300x300">
                            <img src="/images/team/simplykanami.jpg" alt='Kelly "Kanami" Lam Profile Picture'>
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="title is-4 has-text-centered">Kelly "Kanami" Lam</p>
                                <p class="subtitle is-6 has-text-centered">@simplykanami</p>
                            </div>
                        </div>

                        <div class="content">
                            <a target="_blank" href="//www.instagram.com/simplykanami/"><i class="fab fa-fw fa-lg fa-instagram"></i></a>
                            <a target="_blank" href="//www.simplykanami.com"><i class="fab fa-fw fa-lg fa-chrome"></i></a>
                            <a target="_blank" href="mailto:kelly@shakennotstirred.photos"><i class="fas fa-fw fa-lg fa-envelope"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="section has-background-primary bg-canyon has-text-white">
    <div class="container">
        <h1 class="title is-3">Stay in touch</h1>

        <div class="columns">
            <div class="column is-two-thirds">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Your name!">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Email</label>
                    <div class="control has-icons-left has-icons-right">
                        <input class="input" type="email" placeholder="Your email!">
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                    </div>
                </div>

                <div class="field">
                    <label class="label">Message</label>
                    <div class="control">
                        <textarea class="textarea" placeholder="What can we do for you?"></textarea>
                    </div>
                </div>

                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-warning"><i class="fas fa-paper-plane"></i>&nbsp;&nbsp;Send</button>
                    </div>
                </div>
            </div>

            <div class="column">
                <ul>
                    <li><i class="fas fa-lg fa-fw fa-map-marker"></i>&nbsp;&nbsp;Central Pennsylvania</li>
                    <li>&nbsp;</li>
                    <li><i class="fas fa-lg fa-fw fa-phone"></i>&nbsp;&nbsp; 123.456.7890</li>
                    <li>&nbsp;</li>
                    <li><a class="has-text-white" href="mailto:hello@shakennotstirred.photos" target="_blank"><i class="fas fa-lg fa-fw fa-envelope"></i>&nbsp;&nbsp;hello@shakennotstirred.photos</a></li>
                </ul>

                <!--<br><br>-->

                <hr>
                <p><span class="has-text-weight-bold">Follow us on</span>
                <a class="has-text-white" href="//www.instagram.com/shakennotstirredphoto/" target="_blank"><i class="fab fa-lg fa-fw fa-instagram"></i></a>
                <a class="has-text-white" href="//fb.me/shakennotstiredphoto/" target="_blank"><i class="fab fa-lg fa-fw fa-facebook"></i></a>
                <a class="has-text-white" href="//m.me/shakennotstiredphoto/" target="_blank"><i class="fab fa-lg fa-fw fa-facebook-messenger"></i></a>
                <a class="has-text-white" href="mailto:hello@shakennotstirred.photos" target="_blank"><i class="fas fa-lg fa-fw fa-envelope"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block css %}
{{ super() }}
<style>
    .hero {
        background: #222 url("/images/landing/hero.jpg") center center no-repeat fixed;
        background-size: cover;
    }

    .bg-canyon {
        background: #222 url("/images/landing/canyon.jpg") center center no-repeat fixed;
        background-size: cover;
    }

    .has-text-white h1,
    .has-text-white label {
        color: white;
    }

    .card:hover img {
        filter: none;
    }
    .card img {
        filter: grayscale(1);
        transition: all 0.3s ease-in-out;
    }

    .stroke{
        width: 4rem;
        border-bottom: 3px solid #333333;
        margin: 2rem auto;
    }
</style>
{% endblock %}

{% block js %}
{{ super() }}
{% endblock %}
